#TEI {
  height: 85vh;
}
/* Highlighting search result */
@keyframes blink {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: yellow;
  }
}

.lastupdatedtext {
  text-align: right;
}

.mainBar {
  background-color: 'blue'; 
  height: '60px'; 
  vertical-align: 'middle'; 
  line-height: 'normal';
}

#highlight {
  background-color: yellow;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: 3;
  padding: 3px;
  border-radius: 7px;
}
