.card {
  margin: 10px 0;
}

.manuName {
  height: 40px;
}

.match-list {
  height: 73vh;
  overflow-y: auto;
  padding: 0 3px;
}

/* Custom Scrollbar */
.match-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.match-list::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.match-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(250, 250, 250, 0.3);
  box-shadow: inset 0 0 6px rgba(250, 250, 250, 0.3);
  background-color: #5f0000;
}

#search-btn {
  background-color: #5f0000;
}
